
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: jawa;
  src: url(./font/CaviarDreams.ttf);
}

html,body {
  scroll-behavior: smooth;
}

.components {
  @apply md:ml-8 text-xl md:my-0 my-7
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.htmls {
  color: #E34F26;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: rgb(205, 205, 205);
}
::-webkit-scrollbar-thumb{
  background: rgb(76, 150, 140);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(25, 25, 25);
}

.trophy {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0%, 100% {transform: scale(1);}
  50%{transform: scale(1); color: rgb(255, 209, 56);}
}

.chip {
  animation: blinks 3s infinite;
}
@keyframes blinks {
  0% {transform: rotate(0deg);}
  50%{transform:rotate(83deg);}
  100%{transform: rotate(0deg);}
}

.brief {
  animation: jump 3s infinite;
}
@keyframes jump {
  0% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}

