
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: jawa;
  src: url(./font/CaviarDreams.ttf);
}

html,body {
  scroll-behavior: smooth;
}

.components {
  @apply md:ml-8 text-xl md:my-0 my-7
}
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.htmls {
  color: #E34F26;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: rgb(205, 205, 205);
}
::-webkit-scrollbar-thumb{
  background: rgb(76, 150, 140);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(25, 25, 25);
}